<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
			<%= link_to root_path, :class => 'logo' do %>
				<div class="circle">
	  				<br />
	 				 You Need
	 				<br />
					 Your Daily
	 				<br />
	  				 Motivation!
				</div>
			<% end %>
		</div>
		<div class ="col-xs-4 slogan">
			Splurting out motivational advice to get you off your arse!
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_quote_path %>
			<%= link_to 'About', about_path %>
		</div>
	</header>
	<hr />
	<br class="clear"/>
<div class="container">
	<% if flash[:error] .present? %>
		<div class="col_xs_10 col_xs_offset_1 alert alert-danger"
			<%= flash[:error].html_safe %>
		<% end %>
	<%= yield %>
</div>

<div class="footer">
	<div class="container">
		<div class ="col-xs-6">
			<%= link_to "I need some more motivation!", root_path, :class => 'next-quote'%>
		</div>
		<div class="col-xs-6 footer-blurb">
			<p class ="text_muted"> Proudly built by <a href="https://github.com/stevenlecreates"> Steven Le</a> in London, United Kingdom </p>
		</div>
		
	</div>
</div>

</body>
</html>

